*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

/*-------------------- login -------------------------------*/

.login{
    background: #64B2ED;
}

.form{
    width: 20%;
    padding: 5%;
    margin: 8% auto;
    background: #D7EDFF;
    border-radius: 25px;
}

.form p{
    font-size: 35px;
    color: #005289;
    margin: 0 auto;
}

.form .inputL{
    background: white;
    -webkit-text-stroke: 0.3px #64B2ED;
    color: #64B2ED;
    margin: 2% auto;
    border: none;
    box-shadow: #64B2ED 1px 1px 0 0;
    border-radius: 30px;
    height: 27px;
    padding: 5px 18px;
    width: 85%;
    outline: none;
}

.form .btnL{
    margin: 2% 16%;
    border: none;
    border-radius: 30px;
    width: 60%;
    height: 40px;
    background: #005289;
    color: #FFFFFF;
    font-size:25px;
}

.form a{
    text-decoration: none;
    color: #005289;
    margin: 0 23%;
}

.form a:hover{
    color: #0A0A0A;
}
/*-------------------- Nav -------------------------------*/

.nav{

    position: absolute;
    left: 50%;
    margin-bottom: 5%;
}
.nav ul{
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    color: #005289;
    font-size: 17px;
    font-weight: 600;

}

.nav ul li{
    display: inline-block;
    margin: 5% 0;
    position: relative;
    left: 20%;
    margin-right: 10px;

}


/*-------------------- Inicio -------------------------------*/

.sectionD .disco{
    width: 30%;
    position: relative;
    left: 10%;
}

.sectionD p{
    color: #005289;
    font-size: 100px;
    font-weight: 900;
    position: absolute;
    left: 60%;
    bottom: 60%;
}
.sectionD span{
    position: absolute;
    left: 60%;
    bottom: 60%;
    border: #005289 5px solid;
    width: 5%;
    border-radius: 30px;
}

/*-------------------- Contacto -------------------------------*/

.contac{
    background: white;
}

.formC{
    width: 30%;
    padding: 5%;
    margin: -4% auto;
    border-radius: 25px;
}

.formC p{
    font-size: 75px;
    font-weight: 900;
    color: #005289;
    margin: 0 10%;
}

.formC span{
    position: absolute;
    left: 48%;
    bottom: 58%;
    border: #005289 5px solid;
    width: 5%;
    border-radius: 30px;
}

.formC .inputC{
    background: #D7EDFF;
    -webkit-text-stroke: 0.3px #005289;
    color: #005289;
    margin: 2% auto;
    border: none;
    box-shadow: #64B2ED 1px 1px 0 0;
    border-radius: 30px;
    height: 27px;
    padding: 5px 18px;
    width: 85%;
    outline: none;
}
.formC textarea{
    resize : none;
    width: 350px;
    height: 200px;
     background: #D7EDFF;
    -webkit-text-stroke: 0.3px #005289;
    color: #005289;
    border: none;
    box-shadow: #64B2ED 1px 1px 0 0;
    border-radius: 30px;
    padding: 5px 18px;
    outline: none;
}

.formC .btnC{
    margin: 2% 16%;
    border: none;
    border-radius: 30px;
    width: 60%;
    height: 40px;
    background: #005289;
    color: #FFFFFF;
    font-size:25px;
}

.formC .C{
    font-size: 15px;
}

/*-------------------- Artistas -------------------------------*/
.center{
    width: 30%;
    display: inline-block;
    margin: 1% 1%;
    position: relative;
}
.artistas h1{
    color:#005289;
    font-weight: 900;
    text-align: center;
    font-size: 60px;
}
.artistas .span{
    position: absolute;
    left: 48%;
    bottom: 60%;
    border: #005289 5px solid;
    width: 5%;
    border-radius: 30px;
}
.center img{
    width:200px;
    border-radius: 50%;
    margin: 0 25%;
}
.center h3{
    text-align: center;
}
.center a{
    margin: 0 35%;
    text-decoration: none;
}
.center .block{
    position: relative;
    display: block;
    overflow: hidden;
}

.center .btn {
    position: absolute;
    bottom: -80px;
    left: 50%;
    background: #2682DD;
    border-radius: 8px;
    width: 90px;
    height: 30px;
    padding: 5px 0 0 5px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  
  .center .btn span{
    font-size: 18px;
    font-weight: 800;
    color: #FFFFFF;
  }
  
  .center .block:hover .btn {
    bottom: 40px;
  }

  .trans-04 {
	-webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.block img{
    -webkit-transition: transform 0.9s ease;
    -o-transition: transform 0.9s ease;
    -moz-transition: transform 0.9s ease;
    transition: transform 0.9s ease;
  }
  
  .block:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
  
/*-------------------- Eventos -------------------------------*/
.evento h1{
    color:#005289;
    font-weight: 900;
    text-align: center;
    font-size: 60px;
}
.evento .span{
    position: absolute;
    left: 48%;
    bottom: 58%;
    border: #005289 5px solid;
    width: 5%;
    border-radius: 30px;
}

.evento .blockE{
    border: 1px solid #BFBFBF;
    width: 40%;
    margin: 1% 4%;
    display: inline-block;
    border-radius: 15px;
    padding: 0 0 25px 0;
    box-shadow:  8px 7px 7px #BFBFBF;
    -webkit-box-shadow: 8px 5px 7px  #BFBFBF;
    -moz-box-shadow: 8px 7px 7px  #BFBFBF;

}

.evento .blockE .image img{
    width: 100%;
    height: 280px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.evento .blockE .content{
    padding: 4%;
}

.evento .blockE .content strong{
    color: #005289;
    font-weight: 800;
}
.evento .blockE .content p{
    color: #005289;
    width: 50%;
    margin: 7px 0;
}
/*-------------------- Staff -------------------------------*/
.staff h1{
    color:#005289;
    font-weight: 900;
    text-align: center;
    font-size: 60px;
}
.staff .span{
    position: absolute;
    left: 48%;
    bottom: 62%;
    border: #005289 5px solid;
    width: 5%;
    border-radius: 30px;
}
.staff .blockS{
    width: 20%;
    border-radius: 15px;
    margin: 1% 2%;
    display: inline-block;
    padding: 0 0 25px 0;
    box-shadow:  8px 7px 7px #BFBFBF;
    -webkit-box-shadow: 8px 5px 7px  #BFBFBF;
    -moz-box-shadow: 8px 7px 7px  #BFBFBF;

}

.staff .blockS .image img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.staff .blockS .content{
    margin: 3% 5%;
}

.staff .blockS .content strong{
    color: #005289;
    font-weight: 800;
}
.staff .blockS .content p{
    color: #005289;
    margin: 15px 0;
}